%h1 Форум

%table
  %tr
    %th
    %th Тема
    %th Създадена от
    %th Създадена на
  - @forum_topics.each do |topic| 
    %tr 
      %td= link_to 'Виж', administrate_topic_path(topic)
      %td= topic.title
      %td= topic.user
      %td= topic.created_at

= # will_paginate @topics, :previous_label => t("previous"), :next_label => t("next")
