%p#notice= notice

%h1 Наши новини

%table
  %tr
    %th
    %th
    %th
    %th

  - @dashboard_entries.each do |dashboard_entry|
    %tr
      %td
        %h2.new= dashboard_entry.content
        .note
          Публикувано от
          = dashboard_entry.user.display_name
        = render dashboard_entry
      %td= link_to 'GotIt!', :controller => :got_its, |
                             :action => :create, |
                             :dashboard_entry_id => dashboard_entry.id, |
                             :user_id => current_user.id |
      %td= link_to 'Редактирай', edit_dashboard_entry_path(dashboard_entry)
          
= link_to 'Добави Новина', new_dashboard_entry_path

= will_paginate @dashboard_entries 
