%p#notice= notice

%h1 
  Профил на 
  = @user.display_name

.profile_picture
  - if @user.picture_url
    = image_tag @user.picture_url
- if @user.song.present?
  %p.fave
    Любима песен:
    %p= @user.song
- if @user.album.present?
  %p.fave
    Любим албум:
    %p= @user.album
- if @user.description.present?
  %p.fave
    Още...
    %p= @user.description
- if@user.contact.present?
  %p.fave
    Контакт:
    %p= @user.contact

- if current_user.eql? @user or admin?
  = link_to 'Редактиране', edit_user_path(@user)
- if moonwalker?
  = link_to 'Обратно', moonwalkers_path
- else
  = link_to 'Обратно', users_path

