%h1
  Профил на
  = @user.display_name

.profile_picture
  = if @user.picture
    - image_tag @user.picture
- if @user.song
  %p.fave
    Любима песен:
    = @user.song
- if @user.album
  %p.fave
    Любим албум:
    = @user.album
- if @user.description
  %p.fave
    Още...
    %br
    = @user.description
- if@user.contact
  %p.fave
    Контакт:
    = @user.contact

- if current_user.eql? @user or admin?
  = link_to 'Редактиране', edit_user_path(@user)
- if moonwalker?
  = link_to 'Обратно', moonwalkers_path
- else
  = link_to 'Обратно', users_path

