%p#notice= notice

%h3.album_name= @album.name

%p= image_tag @album.cover_url :middle_finger

%p= @album.description

%p Последно обновен на
= @album.updated_at

%p
  - if @photos
    - @photos.each do |photo| 
      =link_to (image_tag (photo.photo_url(:middle_finger))), album_photo_path(@album, photo)
      - if moonwalker? 
        = link_to "Изтрий", [@album, photo], confirm: "Сигурни ли сте?", method: :delete
      %h4= photo.description#, album_photo_path(@album)
      
%p
- if moonwalker? 
  %h3= link_to "Добави снимка", new_album_photo_path(@album)

%p= link_to "Обратно", albums_path

= will_paginate @photos
