%h1 Новини

- if moonwalker?
  %h3
    = link_to 'Добави Новина', new_novelty_path 

- if @novelties.empty?
  %p Няма новини.
- else
  - @novelties.each do |novelty| 
    %h2.novelty_title
      = novelty.title
    .additional
      Добавена от 
      = novelty.user
    .novelty_text
      = novelty.text
    - if moonwalker?
      .edit_menu
        = link_to 'Редактирай', edit_novelty_path(novelty)
        = link_to 'Изтрий', novelty, confirm: 'Сигурни ли сте?', method: :delete

= will_paginate @novelties, :previous_label => t("previous"), :next_label => t("next")
