%h1 Listing m_w_users

%table
  %tr
    %th Username
    %th Name
    %th Display name
    %th Description
    %th Email
    %th Hashed password
    %th Salt
    %th Song
    %th Picture
    %th Birthday
    %th
    %th
    %th

  - @m_w_users.each do |m_w_user|
    %tr
      %td= m_w_user.username
      %td= m_w_user.name
      %td= m_w_user.display_name
      %td= m_w_user.description
      %td= m_w_user.email
      %td= m_w_user.hashed_password
      %td= m_w_user.salt
      %td= m_w_user.song
      %td= m_w_user.picture
      %td= m_w_user.birthday
      %td= link_to 'Show', m_w_user
      %td= link_to 'Edit', edit_m_w_user_path(m_w_user)
      %td= link_to 'Destroy', m_w_user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New M w user', new_m_w_user_path
