%p#notice= notice

%p
  %b Username:
  = @m_w_user.username
%p
  %b Name:
  = @m_w_user.name
%p
  %b Display name:
  = @m_w_user.display_name
%p
  %b Description:
  = @m_w_user.description
%p
  %b Email:
  = @m_w_user.email
%p
  %b Hashed password:
  = @m_w_user.hashed_password
%p
  %b Salt:
  = @m_w_user.salt
%p
  %b Song:
  = @m_w_user.song
%p
  %b Picture:
  = @m_w_user.picture
%p
  %b Birthday:
  = @m_w_user.birthday

= link_to 'Edit', edit_m_w_user_path(@m_w_user)
\|
= link_to 'Back', m_w_users_path
