%title 
  The Moonwalkers
= stylesheet_link_tag    "application", :media => "all"
= javascript_include_tag "application" 
= csrf_meta_tags 

%ul.menu
  %li
    = link_to "Начало", :history
  %li
    = link_to "Новини", :novelties
  %li
    Бележки
  %li
    Moonwalkers
  %li
    Галерия
  %li
    Видео
  %li
    Форум
  %li
    Потребители
  %li
    Заявки за Потребители

= yield


