%title 
  The Moonwalkers
= stylesheet_link_tag    "application", :media => "all"
= javascript_include_tag "application" 
= csrf_meta_tags 

.navigation
  %h2
    = link_to "Начало", :history
    = link_to "Новини", :novelties 
    = link_to "Бележки", :dashboard_entries 
    = link_to "Moonwalkers", :controller => "users", :action => "moonwalkers" 
    = link_to "Галерия", :albums 
    = link_to "Форум", :forum_topics 
    = link_to "Потребители", :users
    = link_to "Профил"

.login
  = link_to "Вход"
  = link_to "Изход"
  = link_to "Регистрация", :controller => "users", :action => "new"

= yield


