%title 
  The Moonwalkers
= stylesheet_link_tag    "application", :media => "all"
= javascript_include_tag "application" 
= csrf_meta_tags 

.navigation
  %h2
    = link_to "Начало", :history
    = link_to "Новини", :novelties 
    - if moonwalker?
      = link_to "Бележки", :dashboard_entries 
    = link_to "Moonwalkers", :controller => "users", :action => "moonwalkers" 
    = link_to "Галерия", :albums 
    = link_to "Форум", :forum_topics 
    = link_to "Потребители", :users
    - if logged_in?
      = link_to "Профил", :controller => "users", :action => "show", :id => current_user.id
.login
  - unless logged_in?
    = link_to "Регистрация", :controller => "users", :action => "new"
    = link_to "Вход", :controller => "sessions", :action => "new"
  - else
    Здравей, 
    = current_user.username
    \! Wanna be startin' something? :)
    = link_to "Изход", :controller => "sessions", :action => "destroy"
= yield


