%title 
  The Moonwalkers
= stylesheet_link_tag    "application", :media => "all"
= javascript_include_tag "application" 
= csrf_meta_tags 

%ul.navigation
  %li
    = link_to "Начало", :history
  %li
    = link_to "Новини", :novelties
  %li
    = link_to "Бележки", :dashboard_entries
  %li
    = link_to "Moonwalkers"
  %li
    = link_to "Галерия", :albums
  %li
    = link_to "Видео"
  %li
    = link_to "Форум", :forum_topics
  %li
    = link_to "Потребители", :users

.login
  = link_to "Вход"
.login
  = link_to "Изход"
.login
  = link_to "Регистрация"

= yield


